{% extends "main.html" %}

{% block content %}

<div class="mdl-grid typography--text-center">
  <header class="mdl-cell mdl-cell--12-col">
    <h1>Welcome to the {{category.name}} Catalog!</h1>
    <p>Here you can find a variety of self-grooming related products!!</p>
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('newItem', category_id = category.id)}}">Add a New Item</a>
  </header>
</div>
<div class="mdl-grid">
  {% for item in items %}
  <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-desktop mdl-card mdl-shadow--2dp card-song">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">{{item.name}}</h4>
    </div>
    <div class="mdl-card__supporting-text">{{item.description}}</div>
	<div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('editItem', category_id = item.category_id, item_id = item.id)}}">Edit</a>|
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('deleteItem', category_id = item.category_id, item_id = item.id)}}">Delete</a>
    </div> 
  </div>
  
  {% endfor %} {% endblock %}
</div>